<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-centro-salud-heading"
        data-cy="CentroSaludCreateUpdateHeading"
        jhiTranslate="actividadApp.centroSalud.home.createOrEditLabel"
      >
        Crear o editar Centro Salud
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="actividadApp.centroSalud.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nombreRef = editForm.get('nombre')!;
        <div class="mb-3">
          <label class="form-label" for="field_nombre" jhiTranslate="actividadApp.centroSalud.nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          @if (nombreRef.invalid && (nombreRef.dirty || nombreRef.touched)) {
            <div>
              @if (editForm.get('nombre')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let tipocentroRef = editForm.get('tipocentro')!;
        <div class="mb-3">
          <label class="form-label" for="field_tipocentro" jhiTranslate="actividadApp.centroSalud.tipocentro">Tipocentro</label>
          <input
            type="text"
            class="form-control"
            name="tipocentro"
            id="field_tipocentro"
            data-cy="tipocentro"
            formControlName="tipocentro"
          />
          @if (tipocentroRef.invalid && (tipocentroRef.dirty || tipocentroRef.touched)) {
            <div>
              @if (editForm.get('tipocentro')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let direccionRef = editForm.get('direccion')!;
        <div class="mb-3">
          <label class="form-label" for="field_direccion" jhiTranslate="actividadApp.centroSalud.direccion">Direccion</label>
          <input type="text" class="form-control" name="direccion" id="field_direccion" data-cy="direccion" formControlName="direccion" />
          @if (direccionRef.invalid && (direccionRef.dirty || direccionRef.touched)) {
            <div>
              @if (editForm.get('direccion')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
